################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/RestClient.API/bin/Debug/net6.0
/src/RestClient.API/.vs/config
/src/RestClient.API/obj
/src/RestClient.Client/obj
/src/RestClient.Client/bin/Debug/net6.0
/src/RestClient.Domain/obj
/src/RestClient.Domain/bin/Debug/net6.0
/src/RestClient.Infrastructure/obj
/src/RestClient.Infrastructure/bin/Debug/net6.0
/src/RestClient.Mongo/obj
/src/RestClient.Mongo/bin/Debug/net6.0
/src/RestClient.Shared/obj
/src/RestClient.Shared/bin/Debug/net6.0
/tests/RestClient.API.Tests/obj
/tests/RestClient.API.Tests/bin/Debug/net6.0
/tests/RestClient.Client.Tests/obj
/tests/RestClient.Client.Tests/bin/Debug/net6.0
/tests/RestClient.Domain.Tests/obj
/tests/RestClient.Domain.Tests/bin/Debug/net6.0
/tests/RestClient.Infrastructure.Tests/obj
/tests/RestClient.Infrastructure.Tests/bin/Debug/net6.0
/tests/RestClient.Mongo.Tests/obj
/tests/RestClient.Mongo.Tests/bin/Debug/net6.0
/tests/RestClient.Shared.Tests/obj
/tests/RestClient.Shared.Tests/bin/Debug/net6.0
